.navbarY {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    width: fit-content;
    padding: 40px 10px;

    background-color: #01597175 ;
    border-radius: 70px;
}

.navbarY > li {
    list-style: none;
}

.navbarY > li > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 70px;
    height: 75px;
    width: 45px;
    
    text-decoration: none;
    cursor: pointer;
    color: var(--main-text-color);
}

.navbarY > li h6 {
    font-weight: 300;
}

.navbarY > li > *:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.active {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(0, 0, 0);
    border-style: outset;
    border-radius: 70px;
}

