@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-text-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  border: 1px solid transparent;
}

section {
  background-color: #01597175;
  border-radius: 35px;
  padding: 20px;
  height: 100%;
}

/* Define the keyframes for the upward fade animation */
@keyframes upwardFade {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Define the keyframes for the upward fade animation */
@keyframes upwardFadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes upwardFadeOut {
  0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(20px);
  }
}

/* Apply the animation to the entering element */
.upward-fade-enter {
  animation: upwardFadeIn 0.5s ease-out forwards;
}

/* Apply the animation to the exiting element */
.upward-fade-exit {
  animation: upwardFadeOut 0.5s ease-out forwards;
}
